<app-filter-projects-form (filter)="onFilterChange($event)"></app-filter-projects-form>

<div *ngIf="filterProjects.length >0; else empty">
  <p>
    <mat-list role="list">
      <ng-container *ngFor="let project of filterProjects">
        <mat-list-item role="listitem">

          <a routerLink="{{ project._id }}">
            <mat-icon>folder</mat-icon> {{project._id}} - {{ project.name }}
          </a>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </p>
</div>
<ng-template #empty>
  <div>No projects</div>
</ng-template>
